<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{MM-dd-YYYY HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.zaxxer.hikari" level="info" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    <logger name="org.flywaydb" level="info" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    <logger name="org.eclipse.jetty" level="info" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    <logger name="br.com.maccommerce.productservice" level="debug" additivity="false">
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    <root level="error">
        <appender-ref ref="ConsoleAppender"/>
    </root>

</configuration>